{{define "navBar"}}
<div class="navbar-fixed">
	{{if eq .C.Title "account"}}<nav class="blue lighten-1" role="navigation">
	{{else if eq .C.Title "roles"}}<nav class="teal lighten-1" role="navigation">
	{{else if eq .C.Title "userSettings"}}<nav class="deep-orange" role="navigation">
	{{else if eq .C.Title "accountSettings"}}<nav class="red" role="navigation">
	{{else}}<nav class="white" role="navigation">{{end}}
		<div class="nav-wrapper s12 m12 l6 offset-l3">
			<a id="logo-container" href="#" class="brand-logo center">Logo</a>
			<ul class="right">
				<li class="hide-on-med-and-down"><a href="#!">First Sidebar Link</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Messages <span class="new badge" style="background-color: #ff1744">5</span><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="#!">First</a></li>
					<li><a href="#!">Second</a></li>
					<li><a href="#!">Third</a></li>
					<li><a href="#!">Fourth</a></li>
					<li><a href="#!">Fifth</a></li>
				</ul>
				<li class="hide-on-med-and-down"><a class="dropdown-button" href="#!" data-activates="dropdown2"></i>Language</a></li>
				<ul id='dropdown2' class='dropdown-content'>	
					<li><a href="/">English</a></li>
					
					<li><a href="/">Turkish</a></li>
					<li><a href="/">German</a></li>
				</ul>
				<li class="hide-on-med-and-down"><a class="dropdown-button" href="#!" data-activates="dropdown3"><img src="/img/{{.D.User.Photo}}" class="circle z-depth-2" style="width: 37px; margin-top: 6px"></i></a></li>
				<ul id='dropdown3' class='dropdown-content'>	
					<li><a href="/userSettings">User Settings</a></li>
					{{if .D.User.IsAdmin}}<li><a href="/accountSettings">Account Settings</a></li>{{end}}
					<li><a href="#!">Help</a></li>
					<li><a href="/logOut">Logout</a></li>
				</ul>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li>
				<div class="card z-depth-0" style="margin-top: 0px">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="/img/{{.D.Account.Photo}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{.D.Account.Name}}<i class="material-icons right">more_vert</i></span>
						<p><a href="/">Home</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{.D.Account.Name}}<i class="material-icons right">close</i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
				</li>
				{{if eq .D.User.Type "inHouse" | and (or .D.User.IsAdmin .D.User.IsContentEditor)}}<li><a href="/roles">Roles</a></li>{{end}}
				<li><a href="#!">Second Sidebar Link</a></li>
				<li><a href="#!">Third Sidebar Link</a></li>
				<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
					<a class="collapsible-header">Dropdown 1<i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="#!">First</a></li>
							<li><a href="#!">Second</a></li>
							<li><a href="#!">Third</a></li>
							<li><a href="#!">Fourth</a></li>
						</ul>
					</div>
					</li>
				</ul>
				</li>
				<li><a href="#!">Fourth Sidebar Link</a></li>
				<li><a href="#!">Fifth Sidebar Link</a></li>
				<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
					<a class="collapsible-header">Dropdown 2<i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="#!">First</a></li>
							<li><a href="#!">Second</a></li>
							<li><a href="#!">Third</a></li>
							<li><a href="#!">Fourth</a></li>
						</ul>
					</div>
					</li>
				</ul>
				</li>
				<li><a href="#!">Sixth Sidebar Link</a></li>
				<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
					<a class="collapsible-header">Dropdown 3<i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="#!">First</a></li>
							<li><a href="#!">Second</a></li>
							<li><a href="#!">Third</a></li>
							<li><a href="#!">Fourth</a></li>
						</ul>
					</div>
					</li>
				</ul>
				</li>
				<li>
				<ul class="collapsible collapsible-accordion">
					<li>
					<a class="collapsible-header">Settings<i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="/userSettings">User Settings</a></li>
							{{if .D.User.IsAdmin}}<li><a href="/acountSettings">Account Settings</a></li>{{end}}
						</ul>
					</div>
					</li>
				</ul>
				<li><a href="/logOut">Logout</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse" style="margin-left: 25px"><i class="material-icons" style="color: #fff">menu</i></a>
		</div>
	</nav>
</div>
{{end}}
