<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" 
	rel="stylesheet">
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  
	media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>InceIs</title>
</head>
<body>
	<h1>{{.C.Title}}</h1>
	<h2>Hello {{.D.Account.Name}} =)</h2>
	<h3>AND</h3>
	<h2>Hello {{.D.User.Email}} =)</h2>
	<h3>This is your account data below</h3>
	<i>{{.D.Account}}</i>
	<h3>AND</h3>
	<h3>This is your user data below</h3>
	<i>{{.D.User}}</i>
	<br>
	<div>
		<a href="/accounts{{.D.URLUUID}}">Go to the accounts</a>
		<br>
		<a href="/logOut">Logout</a>
	</div>
	<!--Import jQuery before materialize.js-->
      	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
	</script>
      	<script type="text/javascript" src="/js/lib/materialize.min.js"></script>
</body>
</html>
